<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book1" class="exam.Book">
        <property name="price" value="5000"/>
        <property name="title" value="hello"/>
    </bean>
    <bean id="book2" class="exam.Book"></bean>
    <bean id="service" class="com.example.spring02.component.Service">
        <!-- name: set, ref: id -->
        <property name="dao" ref="dao"></property>
    </bean>
    <bean id="dao" class="com.example.spring02.component.Dao"></bean>
</beans>